.quiz {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    flex-grow: 1;
    background-color: #DEE0EB;

    &-inner {
        width: 100%;
        max-width: 60rem;
    }
}

