.finished-quiz {

    .list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;   

        &:not(:first-child) {
            margin-top: 2rem;
        }
    } 

    .fa {
        margin-left: 1rem;

        &.success {
            color: #1FEB00;
           }
        &.error {
            color: #FF0000;
        }
    }

    &__btns {
        margin: 3rem auto 0;
        display: flex;
        .btn {
            &:nth-child(2) {
                margin-left: 3rem;
            }
        }
    }

}