.answer-item {
    
    &:not(:first-child) {
        margin-top: 2rem;
    }

    &:hover {
        background-color: rgba(#FFFFFF, 0.05);
        cursor: pointer;
    }
    
    &.success {
     border-color: #1FEB00;
    }
    &.error {
        border-color: #FF0000;
    }
}