* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  color: #FFFFFF;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

button {
  font-family: inherit;
}